.cart-item-container {
    display: flex;
    .item-image-holder {
        img {
            height: 80px;
            width: 80px;
        }
    }
    .item-brand {
        color: #808080;
        font-size: 16px;
    }
    .item-title, .item-price, .item-size {
        color: #000000;
        font-size: 15px;
    }

    .left-bar {
        width: 70%;
    }
    .right-bar {
        width: 30%;
    }
}